# Ignore Gradle project-specific cache directory
.gradle
.kotlin/


# Ignore Gradle build output directory
build

bin

# MkDocs
site/
.venv/
docs/changes.md
docs/LICENSE.md
docs/apidocs/

**/__pycache__

.env
.coverage

tests/smoke/build/

# Terracotta run state; generated at build time
.terracotta-state.yml

project/
